.experience {
    padding: 3rem;
    background-color: #f9f9f9;
  }
  .experience h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .experience ul > li {
    margin-bottom: 1.5rem;
  }
  .experience ul ul {
    margin-top: 0.5rem;
    padding-left: 1.5rem;
    list-style-type: disc;
  }

  