.skills {
    padding: 3rem;
    background-color: var(--pale);
  }
  .skills h2 {
    font-size: 2rem;
    margin-bottom: 1rem;
    color: var(--olive);
  }
  .skills ul {
    list-style-type: square;
    padding-left: 1.5rem;
  }
  